# 📦 Node.js
node_modules/
build/
dist/

# 🐍 Python
__pycache__/
*.pyc

# 💻 Systèmes
.DS_Store
*.log

# 🌱 Environnements virtuels (si tu utilises un venv)
env/
venv/

# ⚙️ Config perso (ex: VS Code, JetBrains)
.vscode/
.idea/

# 🔐 Fichiers sensibles (optionnel si tu as des secrets)
.env
